/* Workaround for mdx files not supporting dark mode */
html.dark {
  --_sb-background-color: var(--_ov-background-color);
  --_sb-color: var(--_ov-font-color);
}

html.dark .sbdocs-wrapper,
html.dark .docblock-argstable,
html.dark td:not(:focus) {
  background-color: var(--_sb-background-color) !important;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark p,
html.dark svg {
  color: var(--_sb-color) !important;
}

html.dark .docblock-argstable,
html.dark .docblock-argstable span,
html.dark .docblock-code-toggle,
html.dark select,
html.dark td,
html.dark tr {
  color: var(--_sb-color);
  background-color: var(--_sb-background-color) !important;
}

html.dark .docs-story {
  /* Uses ov-background directly because it's the background of the component */
  background-color: var(--_ov-background-color);
}
